.homeContainer {
  width: 100%;
  height: auto;
  background-color: #B3FF00;
}

.homeBackground {
  background-image: url('../../../assets/img/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}

.homeContent {
  max-width: 400px;
  text-align: left;
}

.homeContent h2 {
  color: #B3FF00;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.homeContent p {
  color: white;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
}

.space {
  height: 20px;
  background-color: #B3FF00;
}

.secondContent {
  background-image: url('../../../assets/img/bg_2.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}

.secondContentText {
  max-width: 400px;
  text-align: left;
}

.secondContentText h2 {
  color: #B3FF00;
  font-size: 24px;
  margin-bottom: 20px;
}

.secondContentText p {
  color: white;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
}

.thirdContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.card {
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  margin: 0 10px;
  overflow: hidden;
  position: relative;
  text-align: left;
  color: white;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.cardTitle {
  padding: 20px;
  color: #B3FF00; 
  font-size: 50px; 
  text-align: left; 
  padding-left: 100px;
  z-index: 2;
}

.cardText {
  position: relative;
  padding: 70px;
  z-index: 2;
  background: none;
}

.cardText p {
  color: white;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

.cardTitle h2 .experts {
  display: block;
}

