.introPage {
  position: relative;
  height: 100%; /* Adjust height as necessary */
}

.topSection {
  width: 100%;
  height: 100vh; /* Full viewport height for the image */
  display: flex;
  justify-content: center;
  align-items: center;
}

.topImage {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.space {
  height: 20px;
  background-color: #a6d93d;
}

.header {
  margin-top: 50px;
}

